// Fonts
$font-Lato: 'Lato', sans-serif;
$font-Montserrat: 'Montserrat', sans-serif;
// Colors
$white-color:#FFFFFF;
$purple-color:#8D81AC;
$content-color:#848E97;
$dark-text-color:#323232;
$second-text-color:#A291A5;
$header-nav-background-color:#27262A;
$revolutionary-editor-title-color:#635C73;
$header-menu-background-color:#333333;
$header-menu-border-color:#3B3B3B;
$features-background: #F4F4F4;



